input[type=submit] {
  background-color: $nav-highlight;
  color: $white;
  border: none;
  height: 3.2em;
  margin-top: 5px;
  font-size: 1.6rem;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
}
