@import url($font-url-google + " ");

* {
  font-family: 'Oswald', Helvetica;
  color: $white;
}

p {

}
header {
  & h1 {
    color: $white;
    // transform: scale(1.5);
    text-shadow: 1px 1px 1px $black;

  }
  background-color: $white;
}

p,
li,
label {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}
